.briefDescription {
  transition: all 0.3s;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.briefDescription:hover {
  background-color: rgb(125, 76, 29);;
}

.briefHeadline {
  color: rgb(216, 213, 207);
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;

}

.briefPar {
  text-align: center;
}


