.myImageContainer {
  background-size: cover;
  background-repeat: no-repeat;
  //background-position: top center;
  height: 600px;
  //padding: 60% 50px 15px 20px;
}

.myImageContainer:hover {
  /// styles for hover
}